body {
    font-family: 'Almarai', sans-serif;
    font-weight: 400;
}
.popupTrailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1160px;
    background-color:  #252525;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1001;
    color: #ffffff;
    max-height: 90%;
    overflow-y: auto;
   

}

.popupTrailer::-webkit-scrollbar {
    display: none;
}

.popupINFO {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1160px;
    background-color:  #252525;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1001;
    color: #ffffff;
    max-height: 90%;
    overflow-y: auto;
   

}

.popupINFO::-webkit-scrollbar {
    display: none;
}


.video-container {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    background-color: #252525;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #252525, transparent);
    pointer-events: none; /* Allows click events to pass through to the video */
}

.content {
    padding: 40px;
}

.content h1 {
    margin: 0;
    font-size: 1.5em;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 50px;
}

.details {
    color: #b0b0b0;
    margin-top: 5px;
    flex-grow: 1;
}

.tags {
    padding-bottom: 20px;
}
.tags span {
    background-color: #252525; /* Black background */
    border: 3px solid white; /* 3px solid white border */
    color: #ffffff; /* White text */
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    display: inline-block;
    margin-top: 10px;
}

.description {
    margin-top: 10px;
    color: #b0b0b0;
}

.credits p {
    margin: 5px 0;
    padding-bottom: 15px;
}

.review-section {
    margin-top: 20px;
}

.review {
    border-bottom: 1px solid #252525;
    padding: 10px 0;
}

.review p {
    margin: 5px 0;
}

.rating span {
    color: gold;
}

.comment-section {
    margin-top: 20px;
}

.comment-section h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.comment-section textarea {
    width: 560px;
    height: 125px;
    padding: 10px;
    border: 1px solid #383838;
    border-radius: 5px;
    background-color: #383838;
    color: #ffffff;
    resize: vertical;
}

.comment-section .rating-input {
    margin-top: 10px;
}

.comment-section select {
    background-color: #2a2a2a;
    color: #ffffff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
}

.submit-btn {
    background-color: #747474;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
    display: block;
    width: 100%;
    text-align: center;
}
.submit-btn:hover {
    background-color: #ffff00; /* Yellow background on hover */
}
.close-container {
    position: absolute;
    top: 10px; /* Adjust top position as needed */
    right: 10px; /* Adjust right position as needed */
}

.close-btnTrailer {
    background-color: gray;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    margin-left: 95%;
    margin-top: 10px;
    position: fixed;
    z-index: 1000;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(100, 100, 100, 0.5);
    z-index: 1000;
    display: none;
}

.stars {
    display: flex;
    gap: 5px;
    margin: 10px 0;
}

.star {
    cursor: pointer;
    font-size: 32px;
    color: #eaf9955b;


}

.star.checked {
    color: yellow;
}

/* Fading effect */
.popup {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -45%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
.buy-tickets-btn {
    position: absolute;
    background-color: #252525; /* Black background */
    border: 3px solid white; /* 3px solid white border */
    color: #ffffff; /* White text */
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 32px;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif; /* Matching font */
    font-weight: 400; /* Bold text */
    margin-left: 900px;
    height: 70px;
    width: 200px;
    top: 720px;
}


.ratingDIV
{   position: absolute;
    top: 1310px; 
    right: 30px; 
    width: 500px;
    height: 125px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ratingDIV .stars
{
    align-items: center;
    justify-content: center;
    text-align: center;
}

hr {
    border: none;
    height: 2px;
    background-color: #929191;
    margin: 20px 0;
}
